################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SpecialEffects/SpecialEffects.v12.suo
/src/SpecialEffects/SpecialEffects.suo
